body {
    color: #ff40ff;
    background-color: #1D1D1D;
    font-family: 'Audiowide', sans-serif;
    background-image: url('./images/Lucky_Charms.png');
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.xlarge {
    font-size: x-large;
}

.xxxlarge {
    font-size: xxx-large;
}